.flex{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.marginLeft{
    margin-left: 1rem;
}

.paper{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    width: 70vw;
    background-color: white;
    box-shadow: 10px 10px 30px black;
}

.searchBar{
    position: relative;
    top: 0%;
    left: 0;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px black;
}

.warning{
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: #ff6666;
}

.submitContainer{
    margin-top: 1rem;
}

.submit{
    margin: 1rem 0 !important;
}